@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

body {
    background-color: #2C3A47;
}

.flex {
    display: flex;
}


.ls-2 {
    letter-spacing: 2;
}

.clock {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 3rem;

}

.clock-container {
    margin-top: 35px;
}

.details {
    .container {
        justify-content: center;

    }
}

.border{
    border: 9px solid rgb(155, 102, 32);
    border-radius: 33px;
     width: 20%;
     height: 50%;
     margin:  auto;
}

p{
    padding: 12px;
}

.footer{
    text-align: center;
    margin-top: 45px;
}